<?xml version="1.0"?>
<launch>
    <arg name="arm_name" default="raspigibbon"/>
    <arg name="arm_lr" default="r"/>

    <group ns="$(arg arm_name)">
        <param name="arm_lr" value="$(arg arm_lr)"/> 
        <node pkg="raspigibbon_vr" name="vr_controller" type="vr_controller.py" />
    </group>
</launch>
