<?xml version="1.0"?>
<launch>
    <arg name="arm_lr" default="r"/>
    <param name="arm_lr" value="$(arg arm_lr)"/> 
    <arg name="arm_name" default="raspigibbon"/>
    <param name="arm_name" value="$(arg arm_name)"/> 
    <node pkg="raspigibbon_vr" name="vr_controller" type="vr_controller.py" />
</launch>
